input[type=number]{
	text-align: right;
	font-size: 1.875em;
	font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	margin: 0;
}

.bodyCalc{
	margin-top: 5%;
}

.row .btn{	
	width: 100%;
}