<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Calculator</title>	
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta charset="utf-8" />
</head>
<body ng-app="calculatorApp">
<div class="container">
	<div class="bodyCalc">
		<div class="row">
			<div class="col s12"><input type="number"></div>	
		</div>	
	</div>
	<div class="row">
		<div class="col s3">
			<button class="btn" ng-model="seven" ng-init="seven=7">7</button>
		</div>				
		<div class="col s3">
			<button class="btn" ng-model="eight" ng-init="eight=8">8</button>
		</div>	
		<div class="col s3">
			<button class="btn" ng-model="nine" ng-init="nine=9">9</button>
		</div>		
		<div class="col s3">
			<button class="btn" ng-model="division" ng-init="division='/'">/</button>
		</div>						
	</div>
	<div class="row">
		<div class="col s3">
			<button class="btn" ng-model="four" ng-init="four=4">4</button>
		</div>				
		<div class="col s3">
			<button class="btn" ng-model="five" ng-init="five=5">5</button>
		</div>	
		<div class="col s3">
			<button class="btn" ng-model="six" ng-init="six=6">6</button>
		</div>		
		<div class="col s3">
			<button class="btn" ng-model="mult" ng-init="mult='*'">*</button>
		</div>						
	</div>	
	<div class="row">
		<div class="col s3">
			<button class="btn" ng-model="one" ng-init="one=1">1</button>
		</div>				
		<div class="col s3">
			<button class="btn" ng-model="two" ng-init="two=2">2</button>
		</div>	
		<div class="col s3">
			<button class="btn" ng-model="three" ng-init="three=3">3</button>
		</div>		
		<div class="col s3">
			<button class="btn" ng-model='subs' ng-init="subs='-'">-</button>
		</div>						
	</div>	
	<div class="row">
		<div class="col s3">
			<button class="btn" ng-model="coma" ng-init="coma=','">,</button>
		</div>				
		<div class="col s3">
			<button class="btn" ng-model="zero" ng-init="zero=0">0</button>
		</div>	
		<div class="col s3">
			<button class="btn" ng-model="equals">=</button>
		</div>		
		<div class="col s3">
			<button class="btn" ng-model="plus" ng-init="plus='+'">+</button>
		</div>						
	</div>	
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/myApp.js"></script>
</body>
</html>